# Configurações do Banco de Dados Fonte (MySQL)
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=hotel_pet
MYSQL_USER=root
MYSQL_PASSWORD=root_password

# Configurações do Lakehouse / Storage
STORAGE_PATH=./data
RAW_LAYER_PATH=./data/raw
TRUSTED_LAYER_PATH=./data/trusted
REFINED_LAYER_PATH=./data/refined

# Configurações do Apache Airflow
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
