# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environment variables & secrets
.env
.env.*
!.env.example
secrets/
*.pem
*.key

# Data & Lakehouse Storage (Local simulation)
data/
*.parquet
*.delta
*.csv
*.log

# Docker / Airflow
docker/logs/
docker/plugins/
docker/dags/__pycache__/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
